<div class="main">
  <mat-tab-group >
    <mat-tab label="Title">
      <div >
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText.title" autocomplete="off" placeholder="&#61442;  Search by title">
      </div>
    </mat-tab>
    <mat-tab label="Author">
      <div >
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText.author" autocomplete="off" placeholder="&#61442;  Search by author">
      </div>
    </mat-tab>
    <mat-tab label="Identifier">
      <div >
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText.identifier" autocomplete="off" placeholder="&#61442;  Search by identifier">
      </div>
    </mat-tab>
    <mat-tab label="Book kind">
      <div >
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText.bookKind" autocomplete="off" placeholder="&#61442;  Search by kind">
      </div>
    </mat-tab>
  </mat-tab-group>
  <br>

<h1 style="text-align: center">Books list</h1>
  <table mat-table [dataSource]="dataSource" [tabIndex]="dataSource" class="w-100" matSort style="margin-top: 20px">
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ rowNumberStart + i }}</td>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="Author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>

    <ng-container matColumnDef="Identifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</th>
      <td mat-cell *matCellDef="let element">{{ element.identifier }}</td>
    </ng-container>

    <ng-container matColumnDef="BookKind">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Book kind</th>
      <td mat-cell *matCellDef="let element">{{ element.bookKind }}</td>
    </ng-container>

    <ng-container matColumnDef="ReleaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Release date</th>
      <td mat-cell *matCellDef="let element">{{ element.releaseDate }}</td>
    </ng-container>

    <ng-container matColumnDef="Owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
      <td mat-cell *matCellDef="let element">{{ setOwnerName(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="Reserve">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="role === 'ROLE_USER'" mat-raised-button color="primary" [disabled]="checkIfReservePossible(element)" (click)="reserveBook(element.id)">Reserve book</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Rate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="role === 'ROLE_USER'" mat-raised-button color="accent" (click)="rateBook(element)">Rate book</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="checkIfDeleteVisible()" mat-raised-button color="warn" [disabled]="checkIfDeletePossible(element)" (click)="deleteBook(element)">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="dataSource === undefined" class="text-center pt-3 mb-4">No books found</div>


  <mat-paginator [length]="dataSource.data.length" [pageSize]="config.itemsPerPage"
                 (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons="true"></mat-paginator>
</div>
