<div class="container">
  <h1>User edition</h1>
  <form [formGroup]="userEditForm">
    <h3>Username:   <span class="badge badge-secondary"> {{ username }}</span></h3>
    <h3>Pesel:   <span class="badge badge-secondary"> {{ pesel }}</span></h3>

    <mat-form-field *ngIf="isUserFromDataBaseLoaded" class="example-full-width">
      <label class="field-name" for="name">Name</label>
      <input matInput [(ngModel)] = 'userFromDatabase.name' formControlName="name" id="name" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Name is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isUserFromDataBaseLoaded" class="example-full-width">
      <label class="field-name" for="surname">Surname</label>
      <input matInput [(ngModel)] = 'userFromDatabase.surname' formControlName="surname" id="surname" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Surname is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isUserFromDataBaseLoaded" class="example-full-width">
      <label class="field-name" for="email">Email</label>
      <input matInput [(ngModel)] = 'userFromDatabase.email' formControlName="email" id="email" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Email is <strong>required!</strong> Give correct email!
      </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="isUserFromDataBaseLoaded" class="example-full-width">
      <label class="field-name" for="telephone">Telephone</label>
      <input matInput [(ngModel)] = 'userFromDatabase.telephone' formControlName="telephone" id="telephone" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Telephone is <strong>required!</strong> Length: <strong>9</strong>, only digits
      </mat-error>
    </mat-form-field>

    <br><br>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Save</button>
    <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </form>
</div>
