<div class="main">
  <h1 style="text-align: center">Ratings list</h1>
<!--  <table class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--      <th scope="col">No</th>-->
<!--      <th scope="col">Rate</th>-->
<!--      <th scope="col">Title</th>-->
<!--      <th scope="col">Author</th>-->
<!--      <th scope="col">Book kind</th>-->
<!--      <th scope="col">Identifier</th>-->
<!--      <th scope="col">Owner</th>-->
<!--      <th scope="col">          </th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tr *ngFor="let book of books | paginate: config; let i=index">-->
<!--      &lt;!&ndash;  <tr *ngFor="let book of books | paginate: config; let i=index">&ndash;&gt;-->
<!--      <td>{{ i + 1 }} </td>-->
<!--      <td>{{ book.avgRate }} </td>-->
<!--      <td>{{ book.title }}</td>-->
<!--      <td>{{ book.author}}</td>-->
<!--      <td>{{ book.bookKind }}</td>-->
<!--      <td>{{ book.identifier }}</td>-->
<!--      <td>{{ setOwnerName(book) }}</td>-->
<!--      <td><button class="btn btn-primary" (click)="showReviews(book)">Reviews</button></td>-->
<!--    </tr>-->
<!--  </table>-->
<!--</div>-->

<!--<pagination-controls previousLabel="Previous" nextLabel="Next" (pageChange)="pageChanged($event)"></pagination-controls>-->

  <table mat-table [dataSource]="dataSource" [tabIndex]="dataSource" class="w-100" matSort style="margin-top: 20px">
    <ng-container matColumnDef="No">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ rowNumberStart + i }}</td>
    </ng-container>

    <ng-container matColumnDef="Rate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.avgRate }}</td>
    </ng-container>

    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="Author">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Author</th>
      <td mat-cell *matCellDef="let element">{{ element.author }}</td>
    </ng-container>

    <ng-container matColumnDef="BookKind">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Book kind</th>
      <td mat-cell *matCellDef="let element">{{ element.bookKind }}</td>
    </ng-container>

    <ng-container matColumnDef="Identifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Identifier</th>
      <td mat-cell *matCellDef="let element">{{ element.identifier }}</td>
    </ng-container>

    <ng-container matColumnDef="Owner">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Owner</th>
      <td mat-cell *matCellDef="let element">{{ setOwnerName(element) }}</td>
    </ng-container>

    <ng-container matColumnDef="Reviews">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="showReviews(element)">Reviews</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="dataSource === undefined" class="text-center pt-3 mb-4">No reviews found</div>


  <mat-paginator [length]="dataSource.data.length" [pageSize]="config.itemsPerPage"
                 (page)="pageChanged($event)" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons="true"></mat-paginator>
</div>
