<div>
  <div mat-dialog-content class="text-center">
    <h1>Rate book</h1>
    <ngb-rating [(rate)]="opinion.grade"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{opinion.grade}}</b></pre>
    <h2 class="title-review">Add review</h2>
    <mat-form-field>
      <label>
        <textarea [(ngModel)]="opinion.review" matInput rows="5" cols="40" placeholder="Review"></textarea>
      </label>
    </mat-form-field>

  <div mat-dialog-actions>
    <button class="btn btn-success" [mat-dialog-close]="opinion">Add</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</div>
</div>

