.tile {
  border-radius: 8px;
  background-color: #f2e6ff;
  color: black;
  text-align: center;
  font-size: 21px;
  transition: 0.55s;
}

.tile:hover {
  color: white;
  background-color: #673ab7;
  cursor: pointer;
}

.center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.text-shadow {
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 15px gray;
}

.mt-64 {
  margin-top: 64px;
}

.mb-64 {
  margin-bottom: 64px;
}
