<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1 mt-64">
      <h1 class="mb-64 text-shadow">Menu</h1>

<!--      <mat-grid-list cols="2" rowHeight="3:0.9" gutterSize="32px">-->
<!--        <mat-grid-tile>-->
<!--          <div class="tile w-100 h-100" (click)="playBattleships()">-->
<!--            <p class="center">Battleships</p>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->

<!--        <mat-grid-tile>-->
<!--          <div class="tile w-100 h-100" (click)="chooseGame()">-->
<!--            <p class="center">Reversi</p>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->

<!--        <mat-grid-tile colspan="2">-->
<!--          <div class="tile w-100 h-100" routerLink="/results">-->
<!--            <p class="center">Results</p>-->
<!--          </div>-->
<!--        </mat-grid-tile>-->
<!--      </mat-grid-list>-->

    </div>
  </div>
</div>
