<div class="container">
  <h1>Registration</h1>
  <form class="form" [formGroup]="registerForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" formControlName="username" id="username" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Username is <strong>required!</strong> Length: <strong>2-30 characters</strong>, only letters and digits
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [type]="'password'" formControlName="password" id="password" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Password is <strong>required!</strong> Length: <strong>2-30 signs</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" formControlName="email" id="email" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Email is <strong>required!</strong> Give correct email!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" formControlName="name" id="name" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Name is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Surname" formControlName="surname" id="surname" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Surname is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Telephone" formControlName="telephone" id="telephone" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Telephone is <strong>required!</strong> Length: <strong>9</strong>, only digits
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="PESEL" formControlName="pesel" id="pesel" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Pesel is <strong>required</strong>  Length: <strong>11</strong>, only digits
      </mat-error>
    </mat-form-field>
    <h2> <span class="badge badge-secondary"> Adress</span></h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="City" formControlName="city" id="city" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        City is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters and digits
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Postal code" formControlName="postalCode" id="postalCode" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Postal code is <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Street" formControlName="street" id="street" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Street is <strong>required!</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Apartment number" formControlName="apartmentNumber" id="apartmentNumber" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Apartment number is <strong>required!</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Register</button>
    <button type="submit" class="btn btn-primary" (click)="cancel()">Return to login page</button>
  </form>
</div>
