<div class="details">
  <div>
    <h1 class="title">User details</h1>
    <button type="submit" class="btn btn-warning" (click)="editUser(username)">Edit</button>
  </div>
  <br>

  <h3>Username: <span class="text-secondary"> {{ userFromDatabase?.username }}</span></h3>
  <h3>Name: <span class="text-secondary"> {{ userFromDatabase?.name }}</span></h3>
  <h3>Surname: <span class="text-secondary"> {{ userFromDatabase?.surname }}</span></h3>
  <h3>Email: <span class="text-secondary"> {{ userFromDatabase?.email }}</span></h3>
  <h3>Pesel: <span class="text-secondary"> {{ userFromDatabase?.pesel }}</span></h3>
  <h3>Telephone: <span class="text-secondary"> {{ userFromDatabase?.telephone }}</span></h3>
  <br>
  <h2> <span class="badge badge-secondary"> Adress</span></h2>
  <h3>City: <span class="text-secondary"> Mock City</span></h3>
  <h3>Postal code: <span class="text-secondary"> Mock postal code</span></h3>
  <h3>Street: <span class="text-secondary"> Mock street</span></h3>
  <h3>Apartment number: <span class="text-secondary"> Mock apartment number</span></h3>

  <!--  <button type="submit" class="btn btn-danger" (click)="onSubmit()">Add fine</button>-->
<!--  <br><br>-->

<!--  <h2>Reservations for reader: </h2>-->
<!--  <br>-->
<!--  <table class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--      <th scope="col">No</th>-->
<!--      <th scope="col">Title</th>-->
<!--      <th scope="col">Identifier</th>-->
<!--      <th scope="col">Start date</th>-->
<!--      <th scope="col">End date</th>-->
<!--      <th scope="col">Status</th>-->
<!--      <th scope="col">Actions</th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tr *ngFor="let reservation of readerFromDatabase?.reservations | paginate: configReservationsPage; let i=index">-->
<!--      <ng-container>-->
<!--        <td>{{ i + 1 }}</td>-->
<!--        <td>{{ reservation.book.title }}</td>-->
<!--        <td>{{ reservation.book.identifier }}</td>-->
<!--        <td>{{ reservation.startDate }}</td>-->
<!--        <td>{{ reservation.endDate }}</td>-->
<!--        <td>{{ reservation.reservationStatus }}</td>-->
<!--        <td><button *ngIf="reservation.reservationStatus === 'ACTIVE'" type="submit" class="btn btn-success" (click)="returnBook(reservation)">Return book</button></td>-->
<!--      </ng-container>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <pagination-controls id="pagination1" previousLabel="Previous" nextLabel="Next" (pageChange)="pageChangedReservations($event)"></pagination-controls>-->

<!--  <br><br>-->
<!--  <h2>Fines for reader: </h2>-->
<!--  <br>-->
<!--  <table class="table table-bordered table-striped">-->
<!--    <thead class="thead-dark">-->
<!--    <tr>-->
<!--      <th scope="col">No</th>-->
<!--      <th scope="col">Note</th>-->
<!--      <th scope="col">Money</th>-->
<!--      <th scope="col">Status</th>-->
<!--      <th scope="col"></th>-->
<!--    </tr>-->
<!--    </thead>-->

<!--    <tr *ngFor="let fine of readerFromDatabase?.fines | paginate: configFinesPage; let i=index">-->
<!--      <ng-container>-->
<!--        <td>{{ i + 1 }}</td>-->
<!--        <td>{{ fine.text }}</td>-->
<!--        <td>{{ fine.money }}</td>-->
<!--        <td>{{ fine.fineStatus }}</td>-->
<!--        <td><button *ngIf="fine.fineStatus === 'UNPAID'" type="submit" class="btn btn-success" (click)="payForUser(fine)">Pay</button></td>-->
<!--      </ng-container>-->
<!--    </tr>-->
<!--  </table>-->
<!--  <pagination-controls id="pagination2" previousLabel="Previous" nextLabel="Next" (pageChange)="pageChangedFines($event)"></pagination-controls>-->

</div>

