<div class="container">
  <h1>Reader edition</h1>
  <form [formGroup]="readerEditForm">
    <h3>Pesel:   <span class="badge badge-secondary"> {{ pesel }}</span></h3>

    <mat-form-field *ngIf="isReaderFromDataBaseLoaded" class="example-full-width">
      <label for="name">Name</label>
      <input matInput [(ngModel)] = 'readerFromDatabase.name' formControlName="name" id="name" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Name is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isReaderFromDataBaseLoaded" class="example-full-width">
      <label for="surname">Surname</label>
      <input matInput [(ngModel)] = 'readerFromDatabase.surname' formControlName="surname" id="surname" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Surname is <strong>required!</strong> Length: <strong>2-30 signs</strong>, only letters
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="isReaderFromDataBaseLoaded" class="example-full-width">
      <label for="telephone">Telephone</label>
      <input matInput [(ngModel)] = 'readerFromDatabase.telephone' formControlName="telephone" id="telephone" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Telephone is <strong>required!</strong> Length: <strong>9</strong>, only digits
      </mat-error>
    </mat-form-field>
    <br><br>
    <button type="submit" class="btn btn-success" (click)="onSubmit()">Save</button>
    <button type="submit" class="btn btn-dark" (click)="cancel()">Cancel</button>
  </form>
</div>
