<div class="container">
  <h2>New Reservation</h2>

  <form class="form" [formGroup]="reservationForm">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Start date" formControlName="startDate" id="startDate" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        Start date is <strong>required</strong> Example format: <strong>2021-01-19</strong>
      </mat-error>
    </mat-form-field>

    <br><br>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="End date" formControlName="endDate" id="endDate" class="form-control"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="FormControl.hasError('required')">
        End date is <strong>required</strong> Example format: <strong>2021-01-19</strong>
      </mat-error>
    </mat-form-field>

    <br><br>

    <h3>Title: <span class="text-secondary"> {{ bookFromDatabase?.title }}</span></h3><br>
    <h3>Author: <span class="text-secondary"> {{ bookFromDatabase?.author }}</span></h3><br>
    <h3>Identifier: <span class="text-secondary"> {{ bookFromDatabase?.identifier }}</span></h3><br>
    <h3>Kind: <span class="text-secondary"> {{ bookFromDatabase?.bookKind }}</span></h3>
    <br><br>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Make a reservation</button>
    <button type="submit" class="btn btn-primary" (click)="cancel()">Return to books</button>
  </form>
</div>
