<div class="container">
  <h2>New Reservation</h2>

  <form class="form">
    <h3>Start date: <span class="text-secondary"> {{ startDate }}</span></h3><br>

    <mat-form-field class="selectField">
      <mat-label> {{ monthsToEndReservationString }} </mat-label>
      <mat-select #hasBackdrop>
        <mat-option (click)="setEndDate(1)">1 month</mat-option>
        <mat-option (click)="setEndDate(2)">2 months</mat-option>
        <mat-option (click)="setEndDate(3)">3 months</mat-option>
      </mat-select>
    </mat-form-field>

    <h3>End date: <span class="text-secondary"> {{ endDate }}</span></h3><br>
    <h3>Title: <span class="text-secondary"> {{ bookFromDatabase?.title }}</span></h3><br>
    <h3>Author: <span class="text-secondary"> {{ bookFromDatabase?.author }}</span></h3><br>
    <h3>Identifier: <span class="text-secondary"> {{ bookFromDatabase?.identifier }}</span></h3><br>
    <h3>Kind: <span class="text-secondary"> {{ bookFromDatabase?.bookKind }}</span></h3>
    <br><br>

    <button type="submit" class="btn btn-success" (click)="onSubmit()">Make a reservation</button>
    <button type="submit" class="btn btn-primary" (click)="cancel()">Return to books</button>
  </form>
</div>
